@import url("https://fonts.googleapis.com/css?family=Open+Sans|Orbitron");

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  /* Photo by Icons8 team on Unsplash */
  background: url("icons8-team-643498-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

/* Timer section */
.timer {
  display: flex;
  flex-direction: column;
}
.timer_controls {
  display: flex;
}
.timer_controls > * {
  flex: 1;
}
.timer_controls form {
  flex: 1;
  display: flex;
}
.timer_controls input {
  flex: 1;
  border: 0;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  background: #fff;
}
.timer_controls button {
  background: none;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.15);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.timer_controls button:hover,
.timer_controls button:focus {
  background: rgba(0, 0, 0, 0.3);
  outline: 0;
}

/* Display section */
.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display_time {
  font-weight: 200;
  font-size: 25rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.display_message {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
  text-shadow: 3px 5px 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 4px;
}
.display_reset {
  margin-top: 50px;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border: none;
  background: none;
  border-bottom: 5px solid #777;
  color: #fff;
  cursor: pointer;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  outline: 0;
}
.display_reset:hover {
  border-bottom: 5px solid tomato;
}
